### Hugo ###
/content/entry/
/public/
/resources/_gen/

### Dependency directories ###
node_modules/

### Things we copy in for the Docker build process ###
/ResourceUtils/
/scrolloserver/

# Where we keep the secrets
.env

# Debug files
/final-categories.json
/final-entries.json
/final-locations.json
/output-entries.yaml
