$categ-nav-svg: lighten($pink, 40%);
$hero-heading: #ff2696;

// V01 Ill
$c-white-100: #FFFFFF;
$c-pink-100: #DA0071;
$c-pink-200: #AA0071;
$c-blue-100: #0045D0;

// V02
$c-white-100: #FFFFFF;
$c-pink-100: #ff2696;
$c-pink-200: #b6037a;
$c-blue-100: #073692;

// V03
$c-white-100: #FFFFFF;
$c-pink-100: #9BA1FF;
$c-pink-200: #777ffd;
$c-blue-100: rgba(#0AF8FF, .2);