<div class="xrow categ-nav--grid mt-4">
{{ $taxo := "categories" }}
{{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
    {{ range $index, $key := .Data.Terms.ByCount }}
        <div class="xcol-6 xcol-md-3 categ-nav py-2 text-center">
            <div class="categ-nav--card d-flex justify-content-center flex-column">
                
                {{ $scratch := newScratch }}
                {{ $term := .Term }}
                {{ $termPage := $.Site.GetPage (printf "/%s/%s" $taxo ($term | urlize)) }}
                {{ with $termPage }}
                    {{ $title := .Title }}
                    {{ $icon := .Params.icon }}
                    {{ $scratch.Set "icon" $icon }}
                    {{ $scratch.Set "title" $title }}
                {{ end }}

                {{ $icon := $scratch.Get "icon" }}
                {{ $path := printf "svg/icons/%s" ($icon | default "bookmark-regular.svg") }}
                
                {{ partial $path . }}

                <a href="{{ printf "/%s/%s" $taxo ($term | urlize) }}" class="d-flex justify-content-center">
                    {{ $scratch.Get "title" }}
                </a>
                <span class="categ-nav--counter">
                    {{ len .Pages }}
                    <span class="visually-hidden">items</span>
                </span>
            </div>
        </div>
    {{ end }}
{{ end }}
</div>
  


